.main-navbar {
  background-color: white;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
}

.main-navbar a {
  float: left;
  text-align: center;
  color: black;
  font-size: large;
  display: block;
  padding-right: 10%;
}

#reverb-clone-logo {
  height: 100px;
  width: 100px;
}
