.main-navbar {
  background-color: white;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  float: left;
  color: black;
  font-size: large;
  display: flex;
  justify-content: left;
  height: 10%;
}


.main-navbar .nav-items {
  display: flex;
  align-items: center;
}

.main-navbar img {
  width: 200px;
  height: 50%;
  
}

#reverb-clone-logo {
  height: fit-content;
}



